@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Matemasie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Matemasie&family=Ojuju:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaini+Purva&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaini+Purva&family=Jaro:opsz@6..72&display=swap');

body{
  background-image: url('./assets/backgroundimage.png');
  background-size: cover;
  background-position: center;
}
.timer{
  height: 3.625rem;
}
.timer-div{
  width: 100%;
  height: auto;
  border: 4px solid #3C3B3B;
  border-radius: 4rem;
  background-color: rgba(240, 248, 255, 0.022);
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.timer-div2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 35%;
  padding: 0.5rem;
  border: dotted #3C3B3B 3px;
  border-radius: 3rem;
  position: relative;
}
.timer-div2 img{
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  z-index: 1;
}
.word-letters{
  width: fit-content;
  height: auto;
  padding: 1.5rem 2rem 1.5rem 2rem;
  color: #FFEBCD;
  font-size: 1.5rem;
  background-color: #3C3B3B;
  border-radius: 0.6rem;
  font-weight: bold;
  cursor: pointer;
}

.word-letters2{
  width: fit-content;
  height: auto;
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  color: #FFEBCD;
  font-size: 1.2rem;
  background-color: #3C3B3B;
  border-radius: 0.6rem;
  font-weight: bold;
  cursor: pointer;
}

.letters-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  column-gap: 1rem;
}
.letters-container2{
  width: 50%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  column-gap: 0.7rem;
  row-gap: 0.5rem;
}
.game-area{
  width: 100%;
}
.game-area-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 1rem;
  margin-top: 2rem;
}
.score{
  font-family: "Jaro", sans-serif;
  color: #3C3B3B;
  font-size: 3rem;
}
.play-button{
  width: fit-content;
  height: auto;
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  background-color: #7AA497;
  color: #FFEBCD;
  font-size: 1rem;
  border-radius: 0.6rem;
  font-family: "Jaini Purva", system-ui;
  border: none;
  cursor: pointer;
  box-shadow: 4px 4px 0 #3C3B3B;
  transition: ease-in-out 0.2s;
  border: 2px solid #3C3B3B;
}
.special-button{
  width: fit-content;
  height: auto;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #ffebcd00;
  color: #3C3B3B;
  font-size: 1rem;
  border-radius: 0.6rem;
  border: none;
  cursor: pointer;
}
.special-button:hover{
  color: #FF8B5E;
}
.play-button:hover{
  background-color: #7AA497;
  translate: 4px 4px;
  border: 2px solid #3C3B3B;
  box-shadow: none;
}
#guess-input{
  width: 90%;
  height: auto;
  background-color: rgba(255, 255, 255, 0);
  text-align: start;
  color: #3C3B3B;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Jaini Purva", system-ui;
  border: none;
  outline: none;
}
.guess-input{
  width: 20%;
  height: auto;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  border-radius: 0.75rem;
  border: 2px #3C3B3B solid;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: #3C3B3B;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Jaini Purva", system-ui;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.level-text{
  color: #3C3B3B;
  font-size: 4rem;
  font-family: "Jaro", sans-serif;
}
.words-list-heading-text{
  color: white;
  font-size: 1.5rem;
  font-family: "Jaini Purva", system-ui;
  font-weight: bold;
  font-style: normal;
  color: #3C3B3B;
}
.result-area-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 1.5rem;
}
.performance-message{
  font-size: 2.5rem;
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  color: #3C3B3B;
  letter-spacing: 2px
}
.correct-answer-text{
  color: rgb(184, 240, 101);
  font-size: 1.5rem;
  font-weight: bold
}
.highlight-color{
  color: rgb(241, 168, 85);
  font-weight: bolder;
}
#hint-text{
  color: white;
  font-size: 1rem;
  font-weight: bold;
  height: 1rem;
}
.butons-div{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  justify-content: center;
  align-items: start;
}
i{
  font-size: 1.5rem;
}
.hint-count{
  font-size: 1rem;
  font-weight: bolder;
  color: #7AA497;
  background-color: none;
  font-family: "Jaini Purva", system-ui;
  position: absolute;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  border-radius: 0.3rem;
  margin-right: 9rem;
  margin-bottom: 2rem;
}
.leaderboard-section{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}
.leaderboard-area{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 0.5rem;
  padding: 0rem 3rem 3rem 3rem;
  /*background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 2.5rem;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);*/
}
.leaderboard-heading{
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.player-div{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 2rem 0.75rem 0.75rem;
  border: #3C3B3B solid 3px;
  border-radius: 2rem;
  box-shadow: 4px 4px 0 #3C3B3B;
  font-family: "Jaini Purva", system-ui;
  color: #3C3B3B;
  font-size: 1.5rem;
}
.player-and-image{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: bold;
}
.player-and-image img{
  width: 40px;
  height: 40px;
  border-radius: 3rem;
  border: 3px solid #3C3B3B;
}
.heading-text{
  height: auto;
  padding: 0.5rem 0 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #3C3B3B;
  font-family: "Jaini Purva", system-ui;
  font-style: 'normal';
  font-weight: bold
}
.player{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.player-rank{
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: auto;
  padding: 1rem;
  font-size: 1rem;
}
.rank-text{
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid;
  border-radius: 2rem;
  display: flex;
  justify-content: center;

}
.player-details{
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}
.player-name{
  width: 50%;
  height: auto;
  font-weight: 1rem;
  text-align: start;
}
.player-score{
  width: 50%;
  height: auto;
  font-weight: 1rem;
  text-align: center;
}
.ranking{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 0.3rem;
  position: relative;
}
.name-input{
  border: none;
  background-color: #3c3b3b00;
  height: 45px;
  width: 8rem;
  font-family: "Jaini Purva", system-ui;
  color: #3C3B3B;
  font-size: 1.5rem;
  outline: none;
}
/*.gradient-text {
  font-size: 5rem;
  font-weight: bold;
  background: linear-gradient(to right, orange, brown);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Makes the text fill transparent so that the background gradient shows through 
}*/
.playerClass{
  width: 70%;
  transform: translateY(var(--offset2));
}
@media(max-width: 450px){
  body{
    background-image: url('./assets/backgroundimage.png');
    background-size: cover;
    background-position: center;
    padding-top: 2rem;
  }
  .letters-container{
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    column-gap: 0.3rem;
    row-gap: 0.3rem;
  }
  .word-letters{
    width: fit-content;
    height: auto;
    padding: 1rem 1.2rem 1rem 1.2rem;
    color: #FFEBCD;
    font-size: 0.8rem;
    background-color: #3C3B3B;
    border-radius: 0.6rem;
    font-weight: bold;
    cursor: pointer;
  }
  .word-letters2{
    width: fit-content;
    height: auto;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    color: #FFEBCD;
    font-size: 0.8rem;
    background-color: #3C3B3B;
    border-radius: 0.6rem;
    font-weight: bold;
    cursor: pointer;
  }
  .letters-container2{
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    column-gap: 0.4rem;
    row-gap: 0.4rem;
  }
  .words-list-heading-text{

    font-size: 1rem;
    font-family: "Jaini Purva", system-ui;
    font-weight: bold;
    font-style: normal;
    color: #3C3B3B;
    text-align: center;
  }
  .play-button{
    width: fit-content;
    height: auto;
    padding: 0.3rem 0.7rem 0.3rem 0.7rem;
    background-color: #7AA497;
    color: #FFEBCD;
    font-size: 0.8rem;
    border-radius: 0.4rem;
    font-family: "Jaini Purva", system-ui;
    border: none;
    cursor: pointer;
    box-shadow: 4px 4px 0 #3C3B3B;
    transition: ease-in-out 0.2s;
    border: 2px solid #3C3B3B;
  }
  .result-area-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 0.8rem;
  }
  .performance-message{
    font-size: 2rem;
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: #3C3B3B;
    letter-spacing: 0px
  }
  .leaderboard-area{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 0.2rem;
    padding: 0rem 1rem 3rem 1rem;
    /*background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 2.5rem;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);*/
  }
  .leaderboard-heading{
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.3rem;
  }
  .playerClass{
    width: 100%;
    font-size: 0.8rem;
    transform: translateY(var(--offset));
  }
  .heading-text{
    height: auto;
    padding: 1rem 0 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #3C3B3B;
    font-family: "Jaini Purva", system-ui;
    font-style: 'normal';
    font-weight: bold
  }
  .player-rank{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: auto;
    padding: 0.5rem;
    font-size: 1rem;
  }
  .rank-text{
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
  
  }
  .player-details{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
  }
  .player-name{
    width: 50%;
    height: auto;
    font-weight: 1rem;
    text-align: start;
  }
  .player-score{
    width: 50%;
    height: auto;
    font-weight: 1rem;
    text-align: center;
  }
  .ranking{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 0.3rem;
    position: relative;
  }
  .timer-div{
    width: 100%;
    height: auto;
    border: 4px solid #3C3B3B;
    border-radius: 4rem;
    background-color: rgba(240, 248, 255, 0.022);
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
  .timer-div2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
    padding: 0.5rem;
    border: dotted #3C3B3B 3px;
    border-radius: 3rem;
    position: relative;
  }
  .timer-div2 img{
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 1;
  }
  .timer{
    height: 2.5rem;
  }
  #hint-text{
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    height: 0.8rem;
  }
  .hint-count{
    font-size: 0.7rem;
    font-weight: bolder;
    color: #7AA497;
    background-color: none;
    font-family: "Jaini Purva", system-ui;
    position: absolute;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    border-radius: 0.3rem;
    margin-right: 6.3rem;
    margin-bottom: 2rem;
  }
  .score{
    font-family: "Jaro", sans-serif;
    color: #3C3B3B;
    font-size: 2rem;
  }
  .guess-input{
    width: 50%;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    border-radius: 0.725rem;
    border: 2px #3C3B3B solid;
    padding: 0.4rem 0.2rem 0.4rem 1rem;
    color: #3C3B3B;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Jaini Purva", system-ui;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
  .guess-input i{
    font-size: 1.2rem;
  }
  #guess-input{
    width: 90%;
    height: auto;
    background-color: rgba(255, 255, 255, 0);
    text-align: start;
    color: #3C3B3B;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Jaini Purva", system-ui;
    border: none;
    outline: none;
  }
  .special-button{
    width: fit-content;
    height: auto;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: #ffebcd00;
    color: #3C3B3B;
    font-size: 0.6rem;
    border-radius: 0.6rem;
    border: none;
    cursor: pointer;
  }
  .player-div{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 1rem;
    padding: 0.3rem 1.25rem 0.5rem 0.75rem;
    border: #3C3B3B solid 3px;
    border-radius: 2rem;
    box-shadow: 4px 4px 0 #3C3B3B;
    font-family: "Jaini Purva", system-ui;
    color: #3C3B3B;
    font-size: 1rem;
  }
  .name-input{
    border: none;
    background-color: #3c3b3b00;
    height: 38px;
    width: 4rem;
    font-family: "Jaini Purva", system-ui;
    color: #3C3B3B;
    font-size: 1rem;
    outline: none;
  }
  .game-area-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 1rem;
    margin-top: 4rem;
  }
  .butons-div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    justify-content: center;
    align-items: start;
  }
}